.button-container {
	padding-left: 1rem;
	padding-right: 1rem;
}

.button, .remove, .nav-arrow, .nav-arrow:visited {
	cursor: pointer;
	background-color: lightgray;
	color: black;
}

.button, .nav-arrow, .nav-arrow:visited {
	font-size: large;
	border: 2px solid black;
	padding-left: 1rem;
	padding-right: 1rem;
}
