.clickable-container {
	border-bottom: 10px solid white;
	width: auto;
	flex: 0 1 0;
}

.clickable {
	cursor: pointer;

	color: gold;
	background: navy;
	font-weight: bold;

	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	border-radius: 10px;

	border-collapse: collapse;
}
