.job {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	cursor: pointer;
}

.type-price {
	padding-left: 10px;
	text-align: right;
	white-space: nowrap;
}

.job-name {
}
