table {
	position: relative;
	top:    10%;
	bottom: 5%;
	left:    2%;
	right:   2%;
	height: 80%;
	width:  96%;

	table-layout: fixed;
	border-collapse: collapse;
}

thead {
	padding: 1px;
}

th {
	font-size: xx-large;
	width: 12.5%;
	padding: 5px;
}
