table {
	position: relative;

	top:    10%;
	bottom:  5%;
	left:    2%;
	right:   2%;
	width:  96%;
	height: 80%;

	table-layout: fixed;
	border-collapse: collapse;
}

thead {
	padding: 1px;
}

th {
	font-size: xx-large;
	width: 12.5%;
	padding: 5px;
}

.schedule-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.schedule-top-right {
	font-size: large;
	padding-top: 1.5%;
	padding-right: 1%;
}

.month {
	font-size: xxx-large;
	font-weight: bold;
	padding-left: 1%;
}
