.schedule {
	display: flex;
	flex-direction: column;
}

.schedule-table {
	position: relative;

	top:    10%;
	bottom:  5%;
	left:    2%;
	right:   2%;
	width:  96%;
/*
	height: 80%;
*/

	height: 40vh;

	table-layout: fixed;
	border-collapse: collapse;
}

.schedule-thead {
	padding: 1px;
}

.schedule-th {
	font-size: xx-large;
	width: 12.5%;
	padding: 5px;
}

.schedule-body {
	height: 100%;
}

.schedule-td {
	border: 5px solid black;
	vertical-align: top;
/*
	height: 30vh;
*/
	height: 100%;

	width: 12.5%;
	padding: 10px;
}

.schedule-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.schedule-top-right {
	font-size: large;
	padding-top: 1.5%;
	padding-right: 1%;
}

.month {
	font-size: xxx-large;
	font-weight: bold;
	padding-left: 1%;
}
