.service-modal {
	position: fixed;
	z-index: 1;
	margin: auto;
	left: 25%;
	top: 5%;
	bottom: 5%;
	width: 50%;
	height: 90%;

	background-color: white;
	border: 3px solid black;
	box-shadow: 10px 10px gray;
}

.service-modal-content {
	font-size: x-large;
	padding: 2%;
}

.service-modal-inner {
	position: fixed;
	z-index: 1;
	left: 26%;
	top: 15%;
	width: 49%;
	height: 72%;
	font-size: x-large;

	overflow: auto;
}

.service-modal-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	font-size: xx-large;
	font-weight: bold;
	padding-bottom: 1rem;
}

.close {
	align-self: start;
}

.service-modal-bottom {
	position: fixed;
	bottom: 7%;
}
